.ui.borderless.topmenu.menu{
  background-color: black;
  box-shadow: none;
  border: none;
  margin: 0px;
  border-radius: 0px;
}

.ui.borderless.topmenu.menu .item{
  font-family: monospace;
  font-size: 20px;
  color: white;
}

.footer{
  font-family: monospace;
  color: white;
  background-color: black;
  padding-top: 20px;
}

#footer{
  font-family: monospace;
  color: white;
  background-color: black;
  padding-top: 20px;
}